<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <!-- <link href="css/mdb.min.css" rel="stylesheet"> -->

    <title>Node virtual app</title>
  </head>
  <body>
    <header>
      <!--Navbar-->

        <ul class="nav md-tabs light-blue lighten-1 mx-0 mb-0 mt-1">
          <li class="nav-item">
            <a class="nav-link active" href="#!">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Link 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Link 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Link 3</a>
          </li>
        </ul>

      <!--/.Navbar-->
    </header>


<figure class="figure">
  <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/8-col/img%20(73).jpg" class="figure-img img-fluid z-depth-1"
    alt="..." style="width: 400px">
  <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>